body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 2rem;
}

/* Sidebar */
.sidebar {
  background-color: #2980b9;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.avatar {
  border: 1px solid #ecf0f1;
  border-radius: 100%;
  display: block;
  height: 120px;
  width: 120px;
  margin: auto;
  margin-bottom: 1rem;
}

.site-title {
  text-align: center;
}

.nav-item {
  margin: 1rem;
}

.nav-item:hover {
  cursor: pointer;
}
/* Sidebar */

/* Content Container */
.content {
  margin-left: 0;
}
/* Content Container */

/* @media */
@media only screen and (min-width: 768px) {
  /* Sidebar */
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 20rem;
  }
  /* Sidebar */

  /* Content Container */
  .content {
    margin-left: 20rem;
  }
  /* Content Container */
}
